/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/calculadoraidade/nbproject/private/
/calculadoraidade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/CalculadoraIdade/nbproject/private/
/OperadoresSwing/build/
